/*FONT-FAMILY*/
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

/*FONT*/
$font-size-large: 4rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.2rem;

/*FONT-WEIGHT*/
$bold: 400;
$light: 300;
$extra-light: 200;