.hero {
    height: calc(100vh - 6.2rem);
    width: 100%;
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, $color-purple 15.68%, $color-blue-dark 65.95%, $color-blue-light 116.22%);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    }

    &__container {
        &--left,
        &--right {
            display: inline-block;
            height: 100%;
            text-align: center;
            // position: absolute;
            padding: 0 4.8rem;
        }
    
        &--left {
    
        }
    
        &--right {
            //width: 100%;
        }
    }

    &__details {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 30rem;
    }

    &__name,
    &__title {
        color: $color-blue-light;
        font-family: $font-secondary;
    }

    &__name {
        font-size: $font-size-large;
        margin-bottom: 2.4rem;
    }

    &__underline {
        &--big, 
        &--small {
            background: $color-white;
            height: .4rem;
            border-radius: .4rem;
            margin: 0 auto;
        }

        &--big {
            width: 10.4rem;
        }

        &--small {
            width: 4rem;
            margin: 1.4rem auto 2.4rem;
        }
    }

    &__title {
        font-size: $font-size-medium;
    }

    &__frame {
        background-color:#ddc;
        border:solid 5vmin #eee;
        border-bottom-color:#fff;
        border-left-color:#eee;
        border-radius:2px;
        border-right-color:#eee;
        border-top-color:#ddd;
        box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
        box-sizing:border-box;
        display:inline-block;
        // margin:10vh 10vw;
        height: 40rem;
        // width: 40vw;
        // height:80vh;
        // padding:8vmin;
        position:relative;
        text-align:center;
        // transform: scale(1.3);
        // top: 50%;
        // transform: translateY(-50%);
        &:before {
          border-radius:2px;
          bottom:-2vmin;
          box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
          content:"";
          left:-2vmin;
          position:absolute;
          right:-2vmin;
          top:-2vmin;
        }
        &:after {
          border-radius:2px;
          bottom:-2.5vmin;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
          content:"";
          left:-2.5vmin;
          position:absolute;
          right:-2.5vmin;
          top:-2.5vmin;
        }
    }


    // &__image {
    //     // position: absolute;
    //     // top: 35%;
    //     // transform: translateY(-50%);  
    //     border:solid 2px;
    //     border-bottom-color:#ffe;
    //     border-left-color:#eed;
    //     border-right-color:#eed;
    //     border-top-color:#ccb;
    //     height: 100%;
    // }
    &__image {
        max-width: 50vw;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 36%;
    }

    &__container {
        &--preview {
            padding: 0 4.8rem;
        }
    }

    &__item {
        &--preview {
            text-align: center;
        }
    }
}