/*
$breakpoint arguement choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*COLORS*/
/*FONT*/
/*GRID*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*changes box model, so that the borders and the paddings are not added to the total width or height for a box.
                              Without this the borders and paddings are added to the height or width of an element*/
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

.btn {
  color: blue; }
