/*
$breakpoint arguement choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tablet-portrait
- tablet-landscape
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*COLORS*/
/*FONT*/
/*GRID*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*changes box model, so that the borders and the paddings are not added to the total width or height for a box.
                              Without this the borders and paddings are added to the height or width of an element*/ }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: #fff; }

.btn {
  color: blue; }

.navbar {
  padding: 1.6rem 4.8rem;
  background: #25859A; }
  .navbar__logo {
    margin-right: 4.8rem; }
  .navbar__link {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 8px;
    text-transform: uppercase; }
    .navbar__link:hover {
      color: #38FFFF; }
  .navbar__icon--portfolio {
    height: 3.2rem;
    width: 3.2rem; }
  .navbar__social {
    color: #fff;
    font-size: 1.6rem; }
    .navbar__social-container:not(:last-child) {
      margin-right: 8px; }
    .navbar__social:hover {
      color: #38FFFF; }
