.btn {
    border-radius: 4px;
    background-color: $color-blue-dark;
    border: none;
    color: $color-white;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.2rem;
    width: 16rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3.2rem;
  }
  
  .btn span {
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\260E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 3.2rem;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }