.navbar {
    padding: 1.6rem 4.8rem;
    background: $color-blue-dark;
    &__logo {
        margin-right: 4.8rem;
    }
    &__link {
        font-family: $font-primary;
        color: $color-white;
        font-weight: 400;
        font-size: $font-size-small;
        margin-right: 8px;
        text-transform: uppercase;
        &:hover{
            color: $color-blue-light;
        }
    }
    &__icon {
        &--portfolio {
            height: 3.2rem;
            width: 3.2rem;
        }
    }
}